body{
    background-color: #f1e630;
}
#logo-left{
    position: absolute;
    left: 5%;
}
#title{
    position: absolute;
    left: 40%;
    top: 30px;
    font-size: 24px;
}
#participa-logo{
    position: absolute;
    right: 3%;
}
#counter-container{
    position: absolute;
    top: 100px;
    left: 25%;
}
.counter-texts{
    font-size: 50px;
}
#main{
    font-family: "Cabin";
}
#gifer-container{
    position: absolute;
    top: 500px;
    left: 35%;
}
#lineas-contador{
    transform: translate(-100px,0px)scale(0.7);
    margin-bottom: 30px;
    margin-top: 60px;
}
.svg-obj{
    transform: scale(0.7);
}
#rrss-container{
    display: table-caption;
    position: absolute;
    top: 400px;
    right: 5%;
    width: 45px;
}
#counter-value{
    position: absolute;
    left: 37px;
    font-size: 70px;
    font-family: "Barrio";
    color: #FFFFFF;
}
