body{
    background-color: #f1e630;
    height: 2000px !important;
}
#logo-left{
    position: absolute;
    left: 5%;
}
.title{
    position: absolute;
    left: 40%;
    top: 30px;
    font-size: 30px;
}
#participa-logo{
    position: absolute;
    right: 3%;
}
#counter-container{
    position: absolute;
    top: 100px;
    left: 22%;
}
.counter-texts{
    font-size: 50px;
}
#main{
    font-family: "Cabin";
}
#gifer-container{
    position: absolute;
    top: 110%;
    /*left: 15%;*/
}
#lineas-contador{
    transform: translate(-100px,0px)scale(0.7);
    margin-bottom: 30px;
    margin-top: 60px;
}
.svg-obj{
    transform: scale(0.5);
}
#rrss-container{
    display: table-caption;
    position: absolute;
    top: 400px;
    right: 5%;
    width: 45px;
}
#counter-value{
    position: absolute;
    left: 37px;
    font-size: 70px;
    font-family: "Barrio";
    color: #FFFFFF;
}
#giffer-container-table{
    position: absolute;
    top: 110%;
    right: 16%;
}
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #40ad49;
    color: #FFFFFF;
}
#footer-msg{
    width: 45%;
    float: left;
    margin-left: 14%;
    text-align: justify;
    margin-top: 1%;

}
#footer-twitter{
    float: right;
    margin-right: 31%;
    margin-top: 1%;
}
#photo-msg{
    width: 50%;
    margin-left: 13%;
    font-size: 30px;
    text-align: justify;
}
#photo-msg-text-mark{
    text-decoration: underline;
}
#photo-container{
    position: absolute;
    top: 35%;
}
#seleccionar-archivo{
    cursor: pointer;
    position: absolute;
    left: 6%;
    top: 70%;
}
#imageLoader{
    display: none;
}
#uploaded-img-container {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 45%;
    top: 55%;
    z-index: 0 !important;
}
#gif-result{
    position: absolute;
    /*left: 40%;*/
    position: absolute;
    left: 50%;
    top: 60%;
}
.croppie-container .cr-boundary {
    z-index: 0 !important;
}
#result-container{
    position: absolute;
    top: 25%;
    left: 14%;
    width: 60%;
    font-size: 30px;
    margin-top: 5%;
    height: 500px;
}
#rrss-result{
    margin-top: 6%;
}
#result-msg-mark{
    font-weight: bold;
}
.share-result{
    cursor: pointer;
}
#home-msg{
    font-size: 30px;
    width: 70%;
    text-align: justify;
    position: absolute;
    /*top: 75%;*/
    /*left: 14%;*/
}
#chapas-container{
    margin-left: -10%;
}
#descarga_tu_chapa{
    cursor: pointer;
}
.gifs-home{
    width: 290px;
    height: auto;
    padding-right: 8%;
    padding-bottom: 8%;
}
